[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = warning

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none

# CS8600: Conversão de literal nula ou possível valor nulo em tipo não anulável.
dotnet_diagnostic.CS8600.severity = none

# CS8601: Possível atribuição de referência nula.
dotnet_diagnostic.CS8601.severity = none

# IDE0051: Remover membros privados não utilizados
dotnet_diagnostic.IDE0051.severity = none

# CA1805: Não inicializar desnecessariamente
dotnet_diagnostic.CA1805.severity = none
